
<div class="container-fluid h-100">
  <div class="row h-25 row-section">
    <div class="col-6 row-section">
      <app-clock-widget>
      </app-clock-widget>
    </div>
    <div class="col-6 row-section">

    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">

    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">

    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">

    </div>
  </div>
</div>
