
<div class="container-fluid h-100">
  <div class="row h-25 row-section">
    <div class="col-6 row-section">
      <app-clock-widget>
      </app-clock-widget>
    </div>
    <div class="col-6 row-section">
      <app-current-weather>
      </app-current-weather>
    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">
      <app-upcoming-weather>
      </app-upcoming-weather>
    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">
      <app-word-of-the-day *ngIf="showWOTD">
      </app-word-of-the-day>
      <app-bike-stations *ngIf="showBikes">
      </app-bike-stations>
    </div>
  </div>
  <div class="row h-25 row-section">
    <div class="col-12 row-section">

    </div>
  </div>
</div>
